.food-form {
  position: absolute;
  width: 49%;
  right: 0;
  border: 3px solid #000 !important;
}
.food-list {
  width: 50%;
  float: left;
  border: 3px solid #000 !important;
}
.food-list-content {
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.food-form-content {
  margin-left: 30px;
  margin-top: 15px;
  padding-bottom: 5px;
}
.food-card {
  border: 1px solid green !important;
  width: 567px;
  height: 250px;
}
.food-card-content {
  padding: 5px;
}

.food-list-description {
  position: relative;
  margin-left: 170px;
  bottom: 100px;
}
.food-card-text {
  padding-bottom: 5px;
}
.food-card-buttons {
  position: relative;
  bottom: 90px;
  left: 20px;
  margin: auto;
  width: 55%;
}

.text-input {
  width: 180px;
}
.number-input {
  width: 55px;
}
.add-button {
  position: absolute;
}
.form-label {
  padding-right: 5px;
}
.servings {
  float: left;
}

.modal-form {
  margin-top: 25px;
}
.directions-form {
  margin-top: 25px;
}
.ingredient-number-input {
  width: 55px;
}
.textarea {
  width: 450px;
  top: 5px;
}
hr {
  width: 500px;
}
.bold-text {
  font-weight: "bold" !important;
}

.modal {
  width: 200px;
  background-color: white;
}
.ingredients-container {
  position: relative;
  margin: auto;
  width: 50%;
  border-width: 4px;
  border: 3px solid black !important;
  margin-top: 30px;
  background-color: blanchedalmond;
}
.ingredients-header {
  position: relative;
  margin: auto;
  width: 30%;
}

.directions-header {
  position: relative;
  margin: auto;
  width: 30%;
}
